"*":
  Hydrogen:
    languageMappings: "{\"python\": \"magicpython\"}"
  "atom-beautify":
    general:
      _analyticsUserId: "109082be-7462-4a3e-bca7-74c7e9673071"
  "autoclose-html": {}
  "autocomplete-plus":
    enableAutoConfirmSingleSuggestion: false
  "autocomplete-python":
    useKite: false
  core:
    debugLSP: true
    disabledPackages: [
      "python-tools"
      "markdown-preview"
      "linter-ui-default"
      "pigments"
      "busy-signal"
      "color-picker"
      "intentions"
      "linter-ruby"
      "markdown-writer"
      "project-manager"
      "python-debugger"
      "svn"
      "tree-view-search-bar"
      "language-vue-component"
      "linter"
      "linter-mypy"
      "linter-flake8"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  "data-atom":
    openDetailsViewWhenOpeningMainResultsView: true
    useQueryAtCursor: true
  "docblock-python":
    style: "google"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "9dbc6870-43ce-4a13-9b36-ee21bb03ad1d"
  "git-blame":
    columnWidth: 282
  "git-diff":
    showIconsInEditorGutter: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "ide-python":
    pylsConfigurationSources: [
      "flake8"
    ]
    pylsPlugins:
      autopep8:
        enabled: false
      jedi_definition: {}
      jedi_hover: {}
      jedi_signature_help: {}
      mccabe: {}
      pycodestyle:
        hangClosing: true
        ignore: [
          "D413"
        ]
      pydocstyle: {}
      yapf:
        enabled: true
  "ide-ruby":
    lintLevel: "1"
  "ide-vue":
    additionalGrammars: [
      "HTML"
    ]
  "linter-eslint":
    advanced:
      localNodeModules: "./node_modules"
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
      "text.html.basic"
    ]
  "linter-mypy":
    followImports: "normal"
    mypyPath: "$PROJECT_PATH"
    warnReturnAny: false
  "linter-proselint": {}
  "linter-ui-default": {}
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "atom-dark-syntax"
    useGitHubStyle: true
  pigments:
    markerType: "native-square-dot"
  "rst-preview-pandoc":
    pandocOpts: "-fmarkdown_github -thtml --webtex"
  "svg-preview": {}
  "symbol-gen": {}
  "tree-view":
    alwaysOpenExisting: true
    panelHeight: 300
  welcome:
    showOnStartup: false
".html.text.vue":
  editor:
    showIndentGuide: true
