packages: [
  "atom-beautify"
  "atom-ide-debugger-node"
  "atom-ide-debugger-python"
  "atom-ide-ui"
  "autoclose-html"
  "block-comment"
  "busy-signal"
  "color-picker"
  "css-declaration-sorter"
  "data-atom"
  "docblock-python"
  "docblockr"
  "editorconfig"
  "git-blame"
  "git-tabs"
  "Hydrogen"
  "ide-bash"
  "ide-html"
  "ide-json"
  "ide-python"
  "ide-ruby"
  "ide-typescript"
  "ide-vue"
  "ide-yaml"
  "intentions"
  "language-awk"
  "language-docker"
  "language-ini"
  "language-pgsql"
  "language-restructuredtext"
  "language-vue"
  "language-vue-component"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-mypy"
  "linter-proselint"
  "linter-ruby"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-tslint"
  "linter-ui-default"
  "MagicPython"
  "markdown-preview-plus"
  "markdown-writer"
  "package-sync"
  "pigments"
  "project-manager"
  "python-debugger"
  "python-tools"
  "rst-preview-pandoc"
  "sort-lines"
  "Stylus"
  "svg-preview"
  "svn"
  "tree-view-search-bar"
  "zentabs"
]
