packages: [
  "atom-beautify"
  "atom-ide-debugger-node"
  "atom-ide-debugger-python"
  "atom-ide-ui"
  "atom-python-docblock"
  "autoclose-html"
  "autocomplete-ruby"
  "block-comment"
  "busy-signal"
  "code-peek"
  "color-picker"
  "css-declaration-sorter"
  "docblock-python"
  "docblockr"
  "Hydrogen"
  "ide-bash"
  "ide-json"
  "ide-python"
  "ide-typescript"
  "ide-vue"
  "ide-yaml"
  "intentions"
  "language-docker"
  "language-restructuredtext"
  "language-vue"
  "language-vue-component"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-mypy"
  "linter-ruby"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-tslint"
  "linter-ui-default"
  "MagicPython"
  "markdown-preview-plus"
  "package-sync"
  "project-manager"
  "python-tools"
  "rst-preview-pandoc"
  "sort-lines"
  "svg-preview"
  "svn"
]
